.md-content__inner{
    width:1000px;
}

/* #preview {
    width:1200px;
    max-width:1200px;
    margin: 1px;
}

#preview-content {
    width:1200px;
    max-width:1200px;
    margin: 1px;
} */


#preview.preview.scrollEditor {
    max-width:1200px;
    margin: 1px;
} 